/* reset */
:root {
  --my-dark-grey: #2c3e50;
  --my-light-grey: #3a546d;
  --my-water-green: #1abc9c;
  --my-white: #fff;
  --my-black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.txt-grey {
  color: #2c3e50;
}

.txt-my-green {
    color: var(--my-water-green);
}

.bg-my-green {
  background-color: var(--my-water-green);
}

.bg-dark-grey {
  background-color: var(--my-dark-grey);
}

.bg-light-grey {
    background-color: var(--my-light-grey);
  }

.my-nmr-10 {
  margin-right: -10px;
}

.my-pt-100 {
  padding-top: 100px;
}

.my-pb-60 {
  padding-bottom: 60px;
}

.my-fs-2 {
  font-size: 2rem;
}

body {
  background-color: var(--my-white);
  /* font-family: "Montserrat"; */
  color: var(--my-white);
}

header {
  width: 100%;
  padding: 10px;
  background-color: var(--my-dark-grey);
  position: fixed;
  top: 0;
  z-index: 1500;
}

footer{
    width: 100%;
}

/* header */
.navbar a:hover {
    transform: scale(1.1);
}


/* section hero */
#hero img {
  width: 250px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.star .fa-solid.fastar {
  width: 20%;
}

.star::before,
.star::after {
  content: "";
  display: block;
  background-color: var(--my-white);
  height: 3px;
  width: 30%;
  margin: auto 15px;
}

#portfolio .star::before,
#portfolio .star::after,
#contact .star::before,
#contact .star::after {
  background-color: var(--my-black);
}

/* section portfolio */
.layover-container {
  cursor: pointer;
}

.layover-container::after {
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 188, 156, 0.5);
  font-size: 6rem;
  font-weight: 800;
  color: var(--my-white);
  opacity: 0;
  transition: opacity 1000ms;
}

.layover-container:hover::after {
  opacity: 1;
}

/* section about */
#about .btn {
  width: 150px;
  transition: all 1300ms linear;
  
}

#about .btn:hover {
    background-color: var(--my-water-green);
    color: var(--my-white);
    box-shadow: 2px 2px 2px var(--my-dark-grey);
    transform: scale(1.1);
}

/* section contact */
#contact input,
#contact textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(174, 173, 173);
  border-radius: 0%;
}

#contact input,
#contact textarea {
  padding: 0;
}

#contact label {
  margin-bottom: 0px;
}

#btn-contact {
  border: none;
  transition: all 1300ms linear;
}

#btn-contact:hover {
    background-color: var(--my-water-green);
    color: var(--my-white);
    box-shadow: 1px 1px 1px var(--my-dark-grey);
    transform: scale(1.1);
}


/* footer */
#icons-brand{
    width: 100%;
}
#icons-brand i{
    border: 1px solid var(--my-white);
    padding: 12px;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    transform: all 1s linear;
}

#icons-brand i:hover {
    background-color: var(--my-water-green);
    box-shadow: 2px 2px 2px var(--my-dark-grey);
}

#icons-brand  i:first-child {
    padding: 12px 16px;
}

div.w-100.bg-dark-grey {
    height: 100px;
}